<header>
   <a style="color: white; float: left; margin-left: 10px;" href="/">
    <i class="fa 	fa fa-arrow-left"></i></a>
    <ul  style="text-align: center;">
    
    <li>  <a  href="/Notes/<%= user._id %> "  class='navbar-brand'> 
Notes
    </a></li>
    <li> 
 <a  href="/AddTask "  class='navbar-brand'>
    <%= title %> 
    </a></li>
    <li style="float: right;">  <a  href="/logout"   class='navbar-brand'>
        Logout 
    </a></li>
</ul>

</header>  