

<header class="pb-5 pt-3">

  <a class=" mx-2" style="float:left " href="/">      
  
      Home

    </a> 

    <a class=" mx-5" href="/logout" style="float:right ;"  > 
              <i class="fa fa-sign-out"></i> </a>
             <a class=" " href="<%- title %>" style=" float:right ;" >      

                 
             
            <%- Add %> </a>
   
</header> 